.head .ant-page-header-heading .ant-page-header-heading-title {
  font-size: 36px !important;
  height: 48px;
  line-height: 48px;
}

.head .ant-page-header-heading .ant-page-header-heading-sub-title {
  font-size: 22px;
  height: 48px;
  line-height: 48px;
}

.head .github-icon {
  font-size: 36px;
  height: 48px;
  line-height: 48px;
  color: rgb(37, 41, 46);
}

.head .github-icon:hover {
  color: rgba(37, 41, 46, 0.8);
}

.head {
  /* border-bottom: 1px solid rgba(37, 41, 46, 0.8); */
  box-shadow: rgba(37, 41, 46, 0.8) 0px 0px 8px;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: whitesmoke;
}

.head .supplement {
  font-size: 20px;
}

.main-container {
  margin-top: 220px;
}

.display-container {
  position: fixed;
  top: '50%';
  right: '4.17%';
  z-index: 1;
  /* border: 1px solid red; */
  border-left: 1px dashed grey;
  overflow-x: scroll;
  width: 50%;
  height: 100%;
}

.download {
  font-size: 30px;
  color:rgb(37, 41, 46);
  margin: 50px;
  position: fixed;
  z-index: 999999;
}

.download:hover {
  color: rgb(65, 144, 247);
  cursor: pointer;
}

.svg-container {
  transform: scale(0.65);
  transform-origin: 0 0;
  /* border: 1px solid red; */
}

.error {
  margin-left: 8.34%;
  margin-right: 8.34%;
}