.stage {
  height: 80px;
}

.form {
  display: flex;
  justify-content: space-around;
  .formItem {
    .iputBox {
      &.iputBoxFake {
        border: 1px solid #d9d9d9;
        opacity: 1;
        &.isEdit {
          opacity: 0;
        }
      }
      &.iputBoxReal {
        opacity: 0;
        &.isEdit {
          opacity: 1;
          transform: translateY(-31px);
        }
      }
      // border: 1px solid red;
      border-radius: 6px;
      padding: 4px 11px;
      height: 30px;
      line-height: 22px;
      box-sizing: border-box;
      width: 180px;
      // &:focus {
      //   border-color: #1e80ff;
      // }
      // transform: translateY(-31px);
    }
  }
}
